.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: visibility 0s, opacity 0.6s;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}