@import url('./__title/form__title.css');
@import url('./__input/form__input.css');
@import url('./__submit-button/form__submit-button.css');
@import url('./__label/form__label.css');
@import url('./__error/form__error.css');
@import url('./__input/_invalid/form__input_invalid.css');
@import url('./__submit-invalid/form__submit-invalid.css');
.form{
    background: white;
    min-width: 430px;
    max-width: 430px;
    min-height: 330px;
    border-radius: 10px;
    padding: 34px 36px 36px 36px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 480px){
    .form{
        max-width: 85%;
        min-width: 315px;
    }
}