.profile {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    min-width: 282px;
  }
}
