.popup__content {
    max-width: 430px;
    max-height: 330px;
    background-color: #ffffff;
    position: relative;
    /* box-sizing: border-box; */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 34px 36px;
    border-radius: 10px;
}

@media screen and (max-width: 783px) {
    .popup__content {
        max-width: 282px;
        max-height: 322px;
        padding: 22px 25px;
        margin: 0 19px;
    }
}