
.elements__grid{
    width: 100%;
     display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 20px 17px;
    list-style-type: none;
    padding: 0px;
    margin: 0px
} 