.popup__button {
    margin-top: 48px;
    padding: 13.36px 0 18.49px 0;
    width: 100%;
    font-size: 18px;
    line-height: 21.78px;
    font-style: normal;
    font-weight: 400;
    background: #000000;
    border-radius: 2px;
    color: white;
    border: none;
}

.popup__button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.8 ease 3s;
}

@media screen and (max-width: 783px) {
    .popup__button {
        font-size: 14px;
        line-height: 16.94px;
    }
}