.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    background: transparent;
    border: none;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.6 ease 3s;
}

@media screen and (max-width: 783px) {
    .popup__close {
        top: -35px;
        right: -10px;
    }
}