.form__submit-invalid{
    opacity: 0.2;
    border: 1px solid #000000;
    background: white;
    color: black;
}
.form__submit-invalid:hover{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    background: white;
    color: black;
}