.profile__details {
    max-width: 415px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 39px 22px;
    grid-template-areas: "title edit"
     "subtitle . ";
    margin-left: 34px;
    position: relative;
    grid-template-columns: 373px auto;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile__details {
        grid-template-columns: 224px;
        grid-template-rows: 1fr 1fr;
        padding: 30px 0 0 0;
        max-width: 282px;
        grid-gap: 14px 10px;
    }
}