.profile__about-me{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    grid-area: about;
}
@media screen and (max-width: 800px){
    .profile__about-me{
       text-align: center;
       margin-top: 14px;
    }
}