.footer {
  margin: 60px 0;
  width:  318px;
}

@media screen and (max-width: 320px) {
  .footer {
      width: calc(100% - 19px * 2);
      margin: 50px 19px 36px 19px;
      max-width: 282px;
  }
}