.button_add{
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    transition: ease-in .3s opacity;
    background: url('../../../images/add.svg') no-repeat center;
}

.button_add:hover{
    opacity: 0.6;
}
@media screen and (max-width: 800px){
    .button_add{
       margin: 36px auto auto auto;
    }
}

@media screen and (max-width: 480px){
    .button_add{
       width: 100%;
    }
}