    .profile__photo {
        margin-right: 26px;
        border-radius: 100%;
        max-width: 120px;
        max-height: 120px;
        box-sizing: border-box;
    }
    
    @media screen and (max-width: 320px) {
        .profile__photo {
            justify-self: center;
        }
    }